In [6]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\toshiba\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyodbc

In [2]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 13 for SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)']

In [3]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=SampleSales; TRUSTED_CONNECTION=yes;"
conn = pyodbc.connect (conn_string)
crs = conn.cursor()
#conn.autocommit()=True

In [4]:
def execute_query(conn, query):
    conn = conn.cursor()
    try:
        conn.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except 'Error' as err:
        print(f"Error:'{err}'")

In [5]:
query = 'SampleSales'

In [6]:
execute_query(conn, query)

TypeError: catching classes that do not inherit from BaseException is not allowed

In [7]:
crs.execute('SELECT product_name, model_year FROM SampleSales')

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'SampleSales'. (208) (SQLExecDirectW)")

In [8]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [9]:
conn = pyodbc.connect (conn_string)

In [10]:
conn = conn.cursor()

In [11]:
#conn.autocommit()=True

In [12]:
def execute_query(conn, query):
    conn = conn.cursor()
    try:
        conn.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except Error as err:
        print(f"Error:'{err}'")

In [13]:
query = 'USE SampleSales'

In [14]:
execute_query(conn, query)

AttributeError: 'pyodbc.Cursor' object has no attribute 'cursor'

In [15]:
use SampleSales

SyntaxError: invalid syntax (<ipython-input-15-2bceed38b14e>, line 1)

In [16]:
csr = conn.cursor()
csr.execute('select FirstName, LastName from product.product')
row = csr.fetchone()
if row:
    print(row)

AttributeError: 'pyodbc.Cursor' object has no attribute 'cursor'

In [17]:
import pandas  as pd

In [18]:
def read_query (conn, query): #connection nesnesi yukarıda tanımlanmıştı.
    crs = conn.cursor()
    results = None
    crs.execute(query)
    results = crs.fetchall()
    return results

In [19]:
query = 'SELECT product_name, brand_id product.product'

In [20]:
query

'SELECT product_name, brand_id product.product'

In [ ]:
read_query(conn, query)

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near '.'. (102) (SQLExecDirectW)")

In [ ]:
crs.execute('SELECT product_name, brand_id product.product')
rows = crs.fetchmany()
rows

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near '.'. (102) (SQLExecDirectW)")

In [ ]:
rows = crs.fetchmany(5)

ProgrammingError: No results.  Previous SQL was not a query.

In [ ]:
rows

NameError: name 'rows' is not defined

In [ ]:
rows.model_year

AttributeError: 'NoneType' object has no attribute 'model_year'

In [ ]:
csr = conn.cursor()
csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product')
row = csr.fetchall()
if row:
    print(row)

In [ ]:
csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product')
row = csr.fetchall()
print('product_name:', row)

product_name: []

In [ ]:
csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product')
while True:
    row = csr.fetchall()
    if not row:
        break
    print('product_name:', row.product_name)

In [ ]:
csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product')
rows = csr.fetchall()
for row in rows:
    print(row.product_name, row.brand_id, row.category_id, row.model_year, row.list_price)

In [ ]:
csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product')
for row in csr:
    print(row.product_name, row.brand_id, row.category_id, row.model_year, row.list_price)

In [ ]:
for row in csr.execute('select product_name, brand_id, category_id, model_year, list_price from product.product'):
    print(row.product_name, row.brand_id, row.category_id, row.model_year, row.list_price)